@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,500;1,400&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr 0.5fr;
  min-height: 100vh;
  background-color: gray;
}
footer {
  background-color: black;
  grid-column: 1/3;
}
main {
  padding: 10px;
}
header {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
h1 {
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  text-align: center;
}
.modal {
  position: relative;
  margin: auto;
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  background-color: white;
  padding: 2px;
}
.modal h3 {
  flex-basis: 90%;
  text-align: center;
}
textarea {
  margin: 5px 0;
  width: 80%;
  height: 150px;
}
.modal-container {
  padding-top: 200px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
nav {
  padding-top: 10px;
}
nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
nav ul li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 56, 0);
  background-color: white;
  border-radius: 50px;
  border-right: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  width: 115px;
  text-align: center;
}
.project-title {
  padding: 5px 10px;
  text-decoration: underline;
}
.open-close-modal:hover,
.create-modal:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transform: scale(1.003);
  transform-origin: 50% 50%;
  transition: all 0.2s ease-out;
  border-radius: 50px;
}
.project-title:hover {
  color: white;
  cursor: pointer;
}
.create-modal,
#project-titles {
  padding: 5px;
  margin: 0% 100%;
}
.todo-container {
  margin: 5px 0px;
  padding: 5px;
  padding-left: 15px;
}
.todo-container,
.deployed-project-header {
  position: relative;
}
.todo-container input {
  position: absolute;
  right: 10px;
  bottom: 3px;
  border-radius: 50px;
}
.todo-container p {
  font-family: "Satisfy", cursive;
  font-size: larger;
}
.deployed-project-container {
  padding: 0 20px;
  overflow-y: scroll;
  min-height: 30vh;
  max-height: 70vh;
}
.todo-container,
.deployed-project-header {
  border-radius: 20px;
}
.todo-container:hover,
.deployed-project-header:hover {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.587);
  transform: scale(1.003);
  transform-origin: 50% 50%;
  transition: all 0.2s ease-out;
}
.deployed-project-header {
  border: 2px solid goldenrod;
}
.deployed-project-header h2 {
  text-align: center;
  text-decoration: underline;
}
.delete-item {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: red;
  color: white;
}
.done {
  position: absolute;
  top: 5px;
  right: 50px;
}
.done,
.delete-item {
  padding: 1px 5px;
  border-radius: 20px;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
}
.done:hover,
.delete-item:hover {
  color: black;
  background-color: yellow;
}
#close-project-modal,
#close-todo-modal {
  color: red;
  font-weight: bold;
}
.incomplete {
  background-color: rgb(182, 182, 182);
}
.complete {
  background-color: rgb(52, 143, 52);
}
.high {
  color: greenyellow;
  font-weight: bolder;
}
@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 0.1fr;
  }
  nav {
    grid-row: 2/3;
  }
  nav ul {
    justify-content: space-around;
    flex-direction: row;
  }
  main {
    grid-row-start: 3;
  }
  .projects {
    max-height: 7vh;
    overflow-y: scroll;
  }
  .deployed-project-container {
    max-height: 45vh;
  }
  .deployed-project-header {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .done,
  .delete-item {
    font-size: 0.7rem;
    opacity: 0.2;
  }
  .done:hover,
  .delete-item:hover {
    opacity: 1;
  }
}
